 * {
     margin: 0;
     padding: 0;
 }

 .container {
     height: 70px;
     background-color: green;
     display: flex;
     flex-wrap: wrap;
 }

 .i1 {
     padding: 25px;
     font-size: 20px;
 }

 .i2 {
     font-size: 30px;
 }

 .youtubeimg {
     width: 150px;
     height: 70px !important;
 }

 form.example input[type="text"] {
     padding: 20px;
     float: left;
     width: 600px;
     background: #f1f1f1;
 }

 .btn {
     width: 50px;
 }

 .example {
     margin-left: 40px;
     margin-top: 5px;
     height: 50px !important;
 }

 .sidebar {
     width: 80px;
     height: 800px;
     background-color: red;
 }

 .container2 {
     height: 700px;
     display: flex;
     flex-wrap: wrap;
     background-color: pink;
 }

 .mainDiv {
     display: flex;
     flex-wrap: wrap;
     width: 94%;
     height: 800px;
     justify-content: space-evenly;

     margin-top: 5px;
 }

 .div1 {
     height: 300px;
     width: 400px;
     background-color: red;
 }

 .div2 {
     height: 300px;
     width: 400px;
     background-color: yellow;
 }

 .div3 {
     height: 300px;
     width: 400px;
     background-color: grey;
 }

 .imgdiv {
     display: flex;
     flex-wrap: wrap;
     margin: 5px;
     width: 390px;
     height: 220px;
     background-color: pink;
 }

 .imgdiv img {
     width: 100%;
     height: 100%;
 }

 .textDiv {
     margin: 5px;
     width: 390px;
     height: 50px;
     background-color: #fff;
 }

/* .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.mainDiv{
    margin-top: 20px;
    /* width: 700px;
    height: 700px;
    background-color: green;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.div1{
    height: 300px;
    width: 400px;
    background-color: red;
}
.div2{
    height: 300px;
    width: 400px;
    background-color: yellow;
}
.div3 {
    height: 300px;
    width: 400px;
    background-color: grey;
}
.imgdiv{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    width: 390px;
    height: 220px;
    background-color: pink;
}
.imgdiv img{
    width: 100%;
    height: 100%;
}
.textDiv{
    margin: 5px;
    width: 390px;
    height: 50px;
    background-color: #fff;
} */